<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Sample Form Page for Form Data Processor</title>
</head>
<body>
<div style="margin: auto; width: 50%">
    <p style="text-align:center">
        <h3 style="color: red;">Form Processor Error</h3>
        Error message: <%= errorMessage %> <br>
        Last time this page was rendered on: <%= new Date() %>
    </p>
</div>
</body>
</html>